header{
    background: url(../img/banner.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.navbar .nav-item{
    margin-left: 20px;
}
.navbar .nav-item .nav-link{
    color: #fff;
    font-family: 'Gentium Book Basic', serif;
    font-size: 21px;
    position: relative;
}
.navbar .nav-item .nav-link::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    top: -36px;
    left: 0;
    background: #fff;
    opacity: 0;
}
.navbar .nav-item .nav-link:hover::before{
    opacity: 1;
}
.navbar .nav-item .nav-link:hover{
    color: #fff;
}
.navbar .nav-link .fa{
    font-size: 20px;
    color: #fff;
}
.navbar .nav-link .fa:hover{
    color: #dab33e;
}
.text-center{
    text-align: center;
}
.pera1{
    font-family: 'Yeseva One', cursive;
    color: #f2f1f0;
    font-size: 90px;
    margin-top: 65px;
    margin-bottom: 25px;
}
.btn-book{
  background-image: url(../img/button-bg.png);
  background-position: center;
    padding: 10px 42px;
    color: white;
    margin: 25px 10px 0 10px;
    border-radius: 0;
}
.btn-book:hover{
    color: #fffcfc;
    background: #5858c3;
}
.btn-menu{
   background: url(../img/white.png);
   background-position: center;
    padding: 10px 42px;
    color: white;
    margin: 25px 10px 0 10px;
    border-radius: 0;
}
.btn-menu:hover{
    color: #fffcfc;
    background: #5858c3;
}
/* header end */
/* cook section start */
.cook{
    background: url(../img/bg2.png);
    height: 680px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0;
}
.pera2{
    margin-top: 55px;
    margin-bottom: 12px;
    color: #cc9900;
    font-family: 'Yeseva One', cursive;
}
.text1{
    margin-top: 25px;
    padding: 0 43px;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}
.zero2{
    margin-left: 85px;
}
.zero3{
    margin-top: 40px;
}
/* section cook end */
/* section ingredients start */

/* section ingredients end */
.ingredients{
    background: url(../img/bg3.png);
    height: 700px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0;
}
.zero4{
    width: 48%;
    padding: 60px 0;
    background: url(../img/bg4.png);
    margin-top: 60px;
}
.pera3{
    color: #fff;
    font-family: 'Yeseva One', cursive;
    margin-bottom: 10px;
    z-index: -1;
}
.text2{
    color: #fff;
    padding: 0 57px;
    line-height: 1.6;
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: 'Lato', sans-serif;
}
.ingred{
    margin-left: 20px;
}
/* dish css start */
.dish{
    background: url(../img/menu-bg.png);
    height: 1200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15px 0;
}
.pera4{
    margin-bottom: 15px;
    color: #cc9900;
    font-family: 'Yeseva One', cursive;
    margin-top: 55px;
}
.pera5{
    font-size: 21px;
    margin-bottom: 0;
    margin-right: 61px;
    color: #cc9900;
    font-family: 'Yeseva One', cursive;
}
.pera6{
    font-size: 21px;
    margin-bottom: 0;
    margin-left: 92px;
    font-family: 'Yeseva One', cursive;
    color: #cc9900;
}
.text3{
    margin-left: 71px;
    font-family: 'Lato', sans-serif;
}
.img-div{
    margin-left: 71px;
}
.zero5{
    padding-top: 10px;
    margin-bottom: 20px; 
    position: relative;
}
.zero5::before{
content: "";
position: absolute;
height: 0;
width: 0;
top: 0;
left: 0;
background: transparent;
border: 1px solid #cc9900;
opacity: 0;
}
.zero5:hover::before{
    width: 100%;
    height: 100%;
    opacity: 1;
}
.pera7{
    font-size: 21px;
    margin-bottom: 0;
    margin-left: 42px;
    color: #cc9900;
    font-family: 'Yeseva One', cursive;
}
.olive{
    font-size: 21px;
    margin-bottom: 0;
    margin-right: 8px;
    color: #cc9900;
    font-family: 'Yeseva One', cursive;
}
.greek{
    font-size: 21px;
    margin-bottom: 0;
    color: #cc9900;
    font-family: 'Yeseva One', cursive;
    margin-right: 15px;
}
.haloumi{
    font-size: 21px;
    margin-bottom: 0;
    margin-right: 50px;
    color: #cc9900;
    font-family: 'Yeseva One', cursive;
}
.fried{
    margin-left: 7px;
    font-size: 21px;
    margin-bottom: 0;
    color: #cc9900;
    font-family: 'Yeseva One', cursive;
}
.pastitsio{
    font-size: 21px;
    margin-bottom: 0;
    margin-right: 45px;
    color: #cc9900;
    font-family: 'Yeseva One', cursive;
}
.special{
    background: #d4b660;
    opacity: 0;
    width: 20%;
    margin-left: auto;
}
.special-text{
    margin-bottom: 0;
    padding: 5px;
    border: 1px solid #d4b660;
    color: #fff;
    font-family: 'Lato', sans-serif;
}
.hero8:hover .zero5{
   opacity: 1;
}
.hero8:hover .special{
    transition: all .5s ease-in-out;
    opacity: 1;
}
.special-img{
    margin-bottom: 40px;
}
/* review section start */
.review{
    background: url(../img/review-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
}
.zero6{
    background: url(../img/bg4.png);
    width: 71%;
    padding: 31px 76px;
    margin-top: 103px;
}
.review-text1{
    font-family: 'Gentium Book Basic', serif;
    font-size: 25px;
    color: #dde0df;
    line-height: 1.8;
    font-weight: 600;
    padding: 45px 31px;
}
.review-text2{
    color: #fff;
    font-family: 'Lato', sans-serif;
}
.ajaira{
    float: left;
    margin-top: 60px;  
}
.booknow{
    background: url(../img/bg2.png);
    height: 700px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0;
}
.zero7{
    margin: 62px 0;
}
.text5{
    padding: 0 48px;
    margin-top: 30px;
}
.text6{
    padding: 0 48px;
}
.zero8{
    margin-left: 150px;
}
.text7{
    margin-bottom: 0;
    margin-left: 50px;
    color: #cc9900;
    font-weight: 600;
}
form{
    margin-top: 25px;
}
.formcontrol{
    margin-left: 50px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-bottom: 5px;
    width: 75%;
    padding-right: 10px;
    font-style: italic;
    color: #949595;
    font-weight: 500;
    border: 1px solid #cc9900;
}
.formcontrol1{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    width: 75%;
    font-style: italic;
    color: #949595;
    font-weight: 500;
    border: 1px solid #cc9900;
}
.text8{
    margin-bottom: 0;
    color: #cc9900;
    font-weight: 600;
}
select{
    width: 75%;
    padding-right: 10px;
    padding-left: 8px;
    padding-bottom: 7px;
    font-style: italic;
    padding-top: 3px;
    color: #949595;
    font-weight: 500;
    border: 1px solid #cc9900;
}
.form-button{
    margin-left: 31%;
    margin-top: 15px;
    padding: 5px 60px;
    color: #fbf9f1;
    background: #cc9900;
    border: 0;
}
.form-button:hover{
    color: #cc9900;
    background: #0d0d7b;
    transition: all .5s ease-in-out;
}
footer{
    padding: 50px 0;
    background: #191919;
}
.text-9{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.8;
    color: #fff;
    padding-top: 15px;
}
.pera8{
    color: #fff;
    font-family: 'Yeseva One', cursive;
    margin-top: 10px;
    margin-bottom: 12px;
}
.text-10{
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}
.text-11{
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    margin-bottom: 30px;
}
.text-12{
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    margin-top: 23px;
    padding: 0 73px;
}
.icon{
    margin-left: 10px;
}
.icons{
    margin-left: 10px;
}
.icons .fa{
    color: #fff;
}
.icon .fa{
    color: #fff;
    margin-top: 28px;
}
.icons .fa:hover{
    transform: scale(1.5);
    transition: all .5s ease-in-out;
}
.icon .fa:hover{
    transform: scale(1.5);
    transition: all .5s ease-in-out;
}
